body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}

/* Logotipo */
.logo {
    font-size: 24px;
    font-weight: bold;
}

#logoTemporal {
    max-height: 60px;
}

.logo .highlight {
    color: #00aaff; /* Tono azul claro para resaltar L y S */
}

/* Menú */
.menu {
    display: flex;
    align-items: center;
}

/* Elemento de menú */
.menu-item {
    margin-left: 20px;
    position: relative;
    text-align: center; /* Centrar texto */
}

/* Botones de menú */
.menu-item button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #333;
    display: block; /* Convertir botón en elemento de bloque */
}

/* Efecto hover en botones de menú */
.menu-item button:hover {
    color: #00aaff; /* Tono azul claro */
}



/* Estilo para el contenedor de la imagen y el span */
.menu-item {
    max-height: 60px; /* Altura máxima del contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilo para el enlace que envuelve la imagen y el span */
.hunterdouglas-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; /* Quitar subrayado del enlace */
}

/* Estilo para la imagen de Hunter Douglas */
.hunterdouglas-logo {
    max-height: 39px; /* Ajusta la altura según sea necesario */
}

/* Estilo para el span de distribuidor */
.distributor-span {
    font-size: 12px; /* Tamaño de fuente reducido */
    color: #333;
    margin-top: 0px; /* Añadir espacio entre la imagen y el texto */
}

/* Efecto hover en el span de distribuidor */
.hunterdouglas-link:hover .distributor-span {
    color: #00aaff; /* Tono azul claro */
}


/* Dropdowns de menú */
.menu-item .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Enlaces dentro de dropdowns */
.menu-item .dropdown a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

/* Efecto hover en enlaces de dropdowns */
.menu-item .dropdown a:hover {
    background-color: #f0f0f0;
    color: #00aaff; /* Tono azul claro */
}

/* Mostrar dropdown al hacer hover en el menú-item */
.menu-item:hover .dropdown {
    display: block;
}

/* Estilo especial para el botón de HunterDouglas */
.hunterdouglas {
    font-size: 16px;
    color: #00aaff; /* Tono azul claro */
    font-weight: bold;
    text-align: center;
}

.hunterdouglas + span {
    display: block;
    font-size: 12px;
    color: #666;
}

/* Hero section */
.hero {
    background-color: whitesmoke; /* Gris claro mientras no cargue la foto */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
    color: #333;
}

.hero h2 {
    font-size: 24px;
    margin: 10px 0;
    color: black;
}

.hero {
    background-image: url('/HERO/HERO.png');
    background-size: cover;
    background-position: center;
    height: 80vh; /* Ajusta la altura según tus necesidades */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 6px;
}


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Sección Persianas */
.persianas-section {
    margin: 20px;
    padding-top: 12px;
}

/* Estilos de Pestañas (Tabs) */
.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto 20px; /* Centrado con espacio debajo */
    width: 80%;
}

.tab {
    flex-grow: 1;
    padding: 9px 0;
    margin: 6px;
    cursor: pointer;
    background-color: white;
    color: #5e739c;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    transition: all 0.3s ease;
    border: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

.tab.active {
    background-color: #5e739c;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.tab:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

/* Estilos del Contenido de Pestañas (Tab Content) */
.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

/* Estilos de Cuadrícula (Grid) */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Máximo 4 columnas */
    gap: 15px;
    margin-top: 20px;
}

.grid-item {
    position: relative;
    width: 100%;
    height: 250px; /* Altura uniforme para los items */
    overflow: hidden; /* Asegura que no se muestren desbordamientos */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos de las Imágenes */
.grid-item img {
    width: 100%;
    height: 100%; /* Para cubrir el contenedor */
    object-fit: cover; /* Mantiene la proporción y cubre el área */
    transition: transform 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el ratón */
}

/* Colores específicos para cada pestaña (placeholders) */
#elegancia-content .grid-item { background-color: #f6c2c2; }
#comodidad-content .grid-item { background-color: #c2f6c2; }
#privacidad-content .grid-item { background-color: #c2d4f6; }
#exteriores-content .grid-item { background-color: #f6e9c2; }
#cortina-tradicional-content .grid-item { background-color: #d3c2f6; }

.persianas-section h2 {
    font-size: 1.5rem; /* Tamaño de fuente del subtítulo */
    color: #5e739c; /* Color del texto */
    margin: 10px 9px; /* Margen superior e inferior */
    text-align: center; /* Centrado opcional */
}



/* Sección de contacto */
.contact-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.contact-section h3 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
}

.contact-options {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.contact-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.contact-option:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-option img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.contact-option p {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.contact-option a {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.contact-option a:hover {
    text-decoration: underline;
}

/* Ajustes de accesibilidad */
@media (max-width: 768px) {
    .contact-options {
        flex-direction: column;
        align-items: center;
    }
}

/* Sección de opiniones */
#reviews-section {
    padding: 50px 20px;
    background-image: url('/path/to/reviews-background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

#reviews-section h3 {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: bold;
    color: #555; /* Cambiado a #555 */
}

.review-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.review-card {
    width: 27%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-style: italic;
    color: #555; /* Cambiado a #555 */
    transition: transform 0.3s, box-shadow 0.3s;
}

.review-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.client-name {
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
    color: #555; /* Cambiado a #555 */
}

/* Ajustes de accesibilidad */
@media (max-width: 768px) {
    .navbar, .hero, .tabs, .grid, .contact-buttons, .reviews, .partners, footer {
        flex-direction: column;
    }
    
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .review-card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .review-card {
        width: 100%;
    }
}
/* Ajustes de accesibilidad */
@media (max-width: 768px) {
    .navbar, .hero, .tabs, .grid, .contact-buttons, .reviews, .partners, footer {
        flex-direction: column;
    }
    
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .review-card {
        width: 45%; /* Ajusta el ancho para pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .review-card {
        width: 100%; /* Ancho completo para pantallas pequeñas */
    }
}

/* Sección de socios */
.partners {
    padding: 20px;
    text-align: center;
    position: relative;
    flex-wrap: wrap;
    height: 30%; /* Altura ajustada según la especificación */
    background-image: url('/Partners/PBG.png'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #ddd;
}

.partners::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); /* Degradado gris oscuro */
    z-index: 1;
}

.H2P{
    width: 30%;
}

.partner-logos {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.partner-logos img {
    max-height: 60px; /* Tamaño máximo de las imágenes */
    object-fit: cover;
}

/* Estilo para el logo de KatorceEspacios con máscara circular */
.katorceespacios-logo {
    border-radius: 80%; /* Hacer la imagen circular */
    max-height: 90px;
    object-fit: cover; /* Asegurar que la imagen se ajuste correctamente */
    overflow: hidden;
}

/* Estilo para el logo de Hunter Douglas */
.hunterdouglas-logo {
    height: 90px; /* Tamaño máximo del logo */
}

/* Footer */
footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

footer a {
    color: #00aaff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Ajustes de accesibilidad */
@media (max-width: 768px) {
    .navbar, .hero, .tabs, .grid, .contact-buttons, .reviews, .partners, footer {
        flex-direction: column;
    }
    
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

/* Aviso de Cookies */
.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fefefe; /* Color de fondo del aviso de cookies */
    padding: 15px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Mostrar por defecto si no se ha aceptado las cookies */
    display: none; /* Oculto por defecto */
}

.cookie-consent p {
    margin: 0;
}

.cookie-consent button {
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, transform 0.3s; /* Transición suave para el color y la transformación */
}

/* Efecto al pasar el ratón sobre el botón */
.cookie-consent button:hover {
    background-color: #0099cc;
    transform: scale(1.05); /* Efecto de escala al pasar el ratón */
}

.cookie-consent a {
    color: #00aaff;
    text-decoration: none;
}

/* Modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000; /* Asegúrate de que sea alto para estar encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Fondo semi-transparente para el modal */
}

/* Contenido del Modal */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Reduce el margen para que el modal se vea más centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative; /* Asegura que el contenido del modal esté en el mismo contexto de apilamiento */
    z-index: 1001; /* Asegúrate de que el contenido del modal esté encima del fondo del modal */
}

/* Botón de Cierre */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: color 0.3s; /* Transición suave para el color */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Botones de Modal */
.modal-button {
    background-color: #00aaff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alinear el texto al centro */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 5px 2px; /* Margen alrededor del botón */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, transform 0.3s; /* Transición suave para el color de fondo y la transformación */
}

/* Efecto al pasar el ratón sobre el botón */
.modal-button:hover {
    background-color: #0088cc; /* Color de fondo al pasar el ratón */
    transform: scale(1.05); /* Efecto de escala al pasar el ratón */
}